---
openapi: 3.0.1
info:
  title: Get Basis Period Reform Details (Sole Trader)
  description: |-
    This web service provides operations on these Virtual DataPort views:
    * "basis_period_reform"."iv_overlap_relief_sole_trader"
  version: 1.0.0
  x-integration-catalogue:
    reviewed-date: 2024-01-17T08:47:24.806832451Z
    short-description: Basis Period Reform Sole Trader API
    status: BETA
    platform: HIP
    backends:
      - VDP
externalDocs:
  description: Additional information about Denodo REST Web Services
  url: https://community.denodo.com/docs/html/browse/8.0/vdp/administration/restful_architecture/restful_web_service/restful_web_service
servers:
  - url: https://api.ipaas.prod.eis.ns2p.corp.hmrc.gov.uk/bpr/
    description: Corporate - Production
  - url: https://api.ipaas.test.eis.ns2n.corp.hmrc.gov.uk/bpr/
    description: Corporate - Test
  - url: https://hip.ws.hmrc.gov.uk/bpr/
    description: MDTP - Production
  - url: https://hip.ws.ibt.hmrc.gov.uk/bpr/
    description: MDTP - QA
security:
  - oAuth2:
      - read:BPR-sole-trader
tags:
  - name: iv_overlap_relief_sole_trader
    description: Operations available for view iv_overlap_relief_sole_trader
paths:
  /views/iv_overlap_relief_sole_trader:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: Returns values of view iv_overlap_relief_sole_trader
      operationId: queryView_iv_overlap_relief_sole_trader
      parameters:
        - name: utr
          in: query
          description: "Virtual DataPort type: long"
          required: true
          schema:
            format: int64
            description: "Virtual DataPort type: long"
            type: integer
        - $ref: '#/components/parameters/count_parameter'
        - $ref: '#/components/parameters/display_restful_references_parameter'
        - $ref: '#/components/parameters/expand_parameter'
        - $ref: '#/components/parameters/filter_parameter'
        - $ref: '#/components/parameters/format_parameter'
        - $ref: '#/components/parameters/group_by_parameter'
        - $ref: '#/components/parameters/having_parameter'
        - $ref: '#/components/parameters/jsoncallback_parameter'
        - $ref: '#/components/parameters/noescape_html_parameter'
        - $ref: '#/components/parameters/order_by_parameter'
        - $ref: '#/components/parameters/select_parameter'
        - $ref: '#/components/parameters/start_index_parameter'
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_response_def'
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_response_def'
        "204":
          description: No results were returned
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0: {}
            application/xml;charset=UTF-8;subtype=denodo-8.0: {}
        "400":
          description: Bad request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
    post:
      tags:
        - iv_overlap_relief_sole_trader
      description: Inserts a new row on view iv_overlap_relief_sole_trader
      operationId: insertResource_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/user_agent_header_parameter'
      requestBody:
        description: New element
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_post_def'
          application/xml:
            schema:
              $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_post_def'
        required: true
      responses:
        "201":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - type: object
                        properties:
                          __errors__:
                            type: array
                            items:
                              $ref: '#/components/schemas/errors_def'
                        xml:
                          name: __errors__
                          namespace: http://www.denodo.com/restful
                additionalProperties: false
              examples:
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - type: object
                        properties:
                          __errors__:
                            type: array
                            items:
                              $ref: '#/components/schemas/errors_def'
                        xml:
                          name: __errors__
                          namespace: http://www.denodo.com/restful
                additionalProperties: false
              examples:
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/$count:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: Returns the number of rows returned by a query to view iv_overlap_relief_sole_trader
      operationId: count_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/filter_parameter'
        - $ref: '#/components/parameters/format_parameter'
        - $ref: '#/components/parameters/group_by_parameter'
        - $ref: '#/components/parameters/having_parameter'
        - $ref: '#/components/parameters/jsoncallback_parameter'
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            text/plain;charset=UTF-8;subtype=denodo-8.0:
              schema:
                format: int64
                type: integer
        "204":
          description: No results were returned
          content:
            text/plain;charset=UTF-8;subtype=denodo-8.0: {}
        "400":
          description: Bad request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/$metadata:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: Returns the metadata of view iv_overlap_relief_sole_trader. This
        includes the description of the view and the URLs to retrieve its schema and
        its associations.
      operationId: metadata_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/format_parameter'
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_metadata_def'
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_metadata_def'
        "400":
          description: Bad request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/$associations:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: Returns the metadata of the associations related to view iv_overlap_relief_sole_trader
        that are published with the service
      operationId: associations_iv_overlap_relief_sole_traderiv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/format_parameter'
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/associations_def'
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/associations_def'
        "400":
          description: Bad request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/$schema:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: "Returns the schema of view iv_overlap_relief_sole_trader. This\
        \ a list of the published fields and types of the view. The names of the fields\
        \ are as they appear in the web service, not in the view (they may have been\
        \ renamed in the web service's configuration)"
      operationId: schema_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_schema_def'
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_schema_def'
        "400":
          description: Bad request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/$xsd:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: Returns the XSD describing the view iv_overlap_relief_sole_trader.
        It contains the link to the XSD schema describing the view output.
      operationId: xsd_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_xsd_def'
        "400":
          description: Bad request
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/$xsd-view-def:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: "Returns the XSD describing the output of view iv_overlap_relief_sole_trader.\
        \ It contains the published fields and types of the view. The names of the\
        \ fields are as they appear in the web service, not in the view (they may\
        \ have been renamed in the web service's configuration)"
      operationId: xsd_view_def_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_xsd_view_def'
        "400":
          description: Bad request
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
  /views/iv_overlap_relief_sole_trader/{primaryKeyValue}:
    get:
      tags:
        - iv_overlap_relief_sole_trader
      description: Returns the row of iv_overlap_relief_sole_trader that matches the
        specified primary key
      operationId: queryViewPK_iv_overlap_relief_sole_trader
      parameters:
        - name: utr
          in: query
          description: "Virtual DataPort type: long"
          required: true
          schema:
            format: int64
            description: "Virtual DataPort type: long"
            type: integer
        - $ref: '#/components/parameters/count_parameter'
        - $ref: '#/components/parameters/display_restful_references_parameter'
        - $ref: '#/components/parameters/expand_parameter'
        - $ref: '#/components/parameters/filter_parameter'
        - $ref: '#/components/parameters/format_parameter'
        - $ref: '#/components/parameters/group_by_parameter'
        - $ref: '#/components/parameters/having_parameter'
        - $ref: '#/components/parameters/jsoncallback_parameter'
        - $ref: '#/components/parameters/noescape_html_parameter'
        - $ref: '#/components/parameters/order_by_parameter'
        - $ref: '#/components/parameters/select_parameter'
        - $ref: '#/components/parameters/start_index_parameter'
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "200":
          description: Success
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_def'
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_def'
        "204":
          description: No results were returned
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0: {}
            application/xml;charset=UTF-8;subtype=denodo-8.0: {}
        "400":
          description: Bad request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "401":
          description: Authentication failed
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml;charset=UTF-8;subtype=denodo-8.0:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
    put:
      tags:
        - iv_overlap_relief_sole_trader
      description: Updates a row in iv_overlap_relief_sole_trader
      operationId: updateResource_iv_overlap_relief_sole_trader
      requestBody:
        description: Element to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_put_def'
          application/xml:
            schema:
              $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_put_def'
      responses:
        "204":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - type: object
                        properties:
                          __errors__:
                            type: array
                            items:
                              $ref: '#/components/schemas/errors_def'
                        xml:
                          name: __errors__
                          namespace: http://www.denodo.com/restful
                additionalProperties: false
              examples:
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - type: object
                        properties:
                          __errors__:
                            type: array
                            items:
                              $ref: '#/components/schemas/errors_def'
                        xml:
                          name: __errors__
                          namespace: http://www.denodo.com/restful
                additionalProperties: false
              examples:
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
    delete:
      tags:
        - iv_overlap_relief_sole_trader
      description: Deletes a row in iv_overlap_relief_sole_trader
      operationId: deleteResource_iv_overlap_relief_sole_trader
      parameters:
        - $ref: '#/components/parameters/user_agent_header_parameter'
      responses:
        "204":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - type: object
                        properties:
                          __errors__:
                            type: array
                            items:
                              $ref: '#/components/schemas/errors_def'
                        xml:
                          name: __errors__
                          namespace: http://www.denodo.com/restful
                additionalProperties: false
              examples:
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "403":
          description: Insufficient permissions to perform this request
          content:
            application/json:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "500":
          description: Runtime error
          content:
            application/json:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - type: object
                        properties:
                          __errors__:
                            type: array
                            items:
                              $ref: '#/components/schemas/errors_def'
                        xml:
                          name: __errors__
                          namespace: http://www.denodo.com/restful
                additionalProperties: false
              examples:
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
            application/xml:
              schema:
                type: object
                properties:
                  __errors__:
                    type: array
                    items:
                      $ref: '#/components/schemas/errors_def'
                xml:
                  name: __errors__
                  namespace: http://www.denodo.com/restful
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
    parameters:
      - name: primaryKeyValue
        in: path
        description: Primary key value
        required: true
        schema:
          maxItems: 1
          minItems: 1
          type: array
          items:
            type: string
        style: simple
        explode: true
components:
  schemas:
    links_def:
      type: object
      properties:
        rel:
          type: string
          xml:
            attribute: true
        href:
          type: string
          xml:
            attribute: true
        title:
          type: string
          xml:
            attribute: true
        type:
          description: MIME type of a blob
          type: string
          xml:
            attribute: true
      xml:
        name: link
        namespace: http://www.w3.org/2005/Atom
    associations_def:
      type: object
      properties:
        view-name:
          description: Virtual DataPort view name
          type: string
          xml:
            attribute: true
        association-metadata:
          minItems: 0
          type: array
          items:
            type: object
            properties:
              name:
                description: Association name
                type: string
                xml:
                  attribute: true
              referential-constraint:
                description: Whether this association defines a referential constraint
                  or not
                type: boolean
                xml:
                  attribute: true
              endpoints:
                maxItems: 2
                minItems: 2
                type: array
                items:
                  type: object
                  properties:
                    view-name:
                      description: Virtual DataPort view name at this end point
                      type: string
                      xml:
                        attribute: true
                    role-name:
                      description: Role name at this endpoint
                      type: string
                      xml:
                        attribute: true
                    role-description:
                      description: Role description
                      type: string
                      xml:
                        attribute: true
                    multiplicity:
                      description: Multiplicity at this end point
                      enum:
                        - "0,1"
                        - "1"
                        - "0,*"
                        - "+"
                      type: string
                      xml:
                        attribute: true
                    principal:
                      description: Whether this end point is principal or dependent
                      type: boolean
                      xml:
                        attribute: true
              link:
                $ref: '#/components/schemas/links_def'
        link:
          $ref: '#/components/schemas/links_def'
      xml:
        name: view-associations
        namespace: http://www.denodo.com/restful
    errors_def:
      type: object
      properties:
        code:
          format: int32
          type: integer
          xml:
            attribute: true
        message:
          type: string
          xml:
            attribute: true
        dataSource:
          type: string
          xml:
            attribute: true
        httpStatusCode:
          type: integer
          xml:
            attribute: true
        httpErrorReturnedBySource:
          type: string
          xml:
            attribute: true
      xml:
        name: error
    info_def:
      type: object
      properties:
        code:
          format: int32
          type: integer
          xml:
            attribute: true
        message:
          type: string
          xml:
            attribute: true
      xml:
        name: info
    iv_overlap_relief_sole_trader_element_def:
      description: Extended schema of view iv_overlap_relief_sole_trader
      properties:
        seq_no:
          description: "Virtual DataPort type: decimal"
          type: number
        tie_breaker:
          description: "Virtual DataPort type: decimal"
          type: number
        name:
          description: "Virtual DataPort type: text"
          type: string
        utr:
          format: int64
          description: "Virtual DataPort type: long"
          type: integer
        nino:
          description: "Virtual DataPort type: text"
          type: string
        source_number:
          description: "Virtual DataPort type: decimal"
          type: number
        name_of_business:
          description: "Virtual DataPort type: text"
          type: string
        description_of_business:
          description: "Virtual DataPort type: text"
          type: string
        date_of_commencement:
          description: "Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS"
          pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?"
          type: string
          example: 2021-01-25T12:55:45.123
        commencement_sig:
          description: "Virtual DataPort type: text"
          type: string
        date_ceased:
          description: "Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS"
          pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?"
          type: string
          example: 2021-01-25T12:55:45.123
        accounting_period_starts:
          description: "Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS"
          pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?"
          type: string
          example: 2021-01-25T12:55:45.123
        accounting_period_ends:
          description: "Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS"
          pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?"
          type: string
          example: 2021-01-25T12:55:45.123
        basis_period_starts:
          description: "Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS"
          pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?"
          type: string
          example: 2021-01-25T12:55:45.123
        basis_period_ends:
          description: "Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS"
          pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\\.[0-9]+)?"
          type: string
          example: 2021-01-25T12:55:45.123
        accounting_date_changed:
          description: "Virtual DataPort type: text"
          type: string
        overlap_relief_used_this_year:
          description: "Virtual DataPort type: decimal"
          type: number
        overlap_profit_carried_forward:
          description: "Virtual DataPort type: decimal"
          type: number
        net_business_profit:
          description: "Virtual DataPort type: decimal"
          type: number
        net_business_loss:
          description: "Virtual DataPort type: decimal"
          type: number
        tax_year:
          description: "Virtual DataPort type: decimal"
          type: number
        links:
          type: array
          items:
            $ref: '#/components/schemas/links_def'
      xml:
        name: iv_overlap_relief_sole_trader
        namespace: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader
    iv_overlap_relief_sole_trader_element_post_def:
      description: Schema of view iv_overlap_relief_sole_trader as required by POST
        requests
      properties:
        utr:
          format: int64
          description: "Virtual DataPort type: long"
          type: integer
      xml:
        name: iv_overlap_relief_sole_trader
        namespace: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader
    iv_overlap_relief_sole_trader_element_put_def:
      description: Schema of view iv_overlap_relief_sole_trader as required by PUT
        requests
      xml:
        name: iv_overlap_relief_sole_trader
        namespace: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader
    iv_overlap_relief_sole_trader_element_simplified_def:
      description: Schema of view iv_overlap_relief_sole_trader
      properties:
        seq_no:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        tie_breaker:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        name:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        utr:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        nino:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        source_number:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        name_of_business:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        description_of_business:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        date_of_commencement:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        commencement_sig:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        date_ceased:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        accounting_period_starts:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        accounting_period_ends:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        basis_period_starts:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        basis_period_ends:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        accounting_date_changed:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        overlap_relief_used_this_year:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        overlap_profit_carried_forward:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        net_business_profit:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        net_business_loss:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
        tax_year:
          type: object
          properties:
            type:
              description: The type of the field
              type: string
      xml:
        name: iv_overlap_relief_sole_trader
        namespace: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader
    iv_overlap_relief_sole_trader_xsd_def:
      description: Schema of view iv_overlap_relief_sole_trader in XSD format
      properties:
        denodo:
          description: "Denodo namespace: http://www.denodo.com/restful"
          type: string
          xml:
            attribute: true
        atom:
          description: "Atom namespace: http://www.w3.org/2005/Atom"
          type: string
          xml:
            attribute: true
        attributeFormDefault:
          description: "The form for attributes declared in the target namespace of\
            \ this schema: unqualified"
          type: string
          xml:
            attribute: true
        elementFormDefault:
          description: "The form for elements declared in the target namespace of\
            \ this schema: qualified"
          type: string
          xml:
            attribute: true
        targetNamespace:
          description: "Namespace defined by this XSD: http://www.denodo.com/restful"
          type: string
          xml:
            attribute: true
        import:
          description: Import for schema $xsd-view-def
          type: object
          properties:
            schemaLocation:
              description: "Schema's location: $xsd-view-def"
              type: string
              xml:
                attribute: true
            namespace:
              description: "Schema's target namespace: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader"
              type: string
              xml:
                attribute: true
        element:
          type: object
          properties:
            name:
              description: View element
              type: string
              xml:
                attribute: true
            complexType:
              type: object
              properties:
                sequence:
                  type: object
                  properties:
                    viewLink:
                      type: object
                      properties:
                        xmlns:q1:
                          description: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader
                          type: string
                          xml:
                            attribute: true
                        maxOccurs:
                          description: string
                          type: string
                          xml:
                            attribute: true
                        ref:
                          description: string
                          type: string
                          xml:
                            attribute: true
                      xml:
                        name: element
                    atomlink:
                      type: object
                      properties:
                        maxOccurs:
                          description: string
                          type: string
                          xml:
                            attribute: true
                        ref:
                          description: string
                          type: string
                          xml:
                            attribute: true
                      xml:
                        name: element
                attribute:
                  description: "Name of the view: iv_overlap_relief_sole_trader"
                  type: object
                  properties:
                    name:
                      description: iv_overlap_relief_sole_trader
                      type: string
                      xml:
                        attribute: true
                    type:
                      description: string
                      type: string
                      xml:
                        attribute: true
                    use:
                      description: string
                      type: string
                      xml:
                        attribute: true
      xml:
        name: schema
        namespace: http://www.w3.org/2001/XMLSchema
    iv_overlap_relief_sole_trader_xsd_view_def:
      description: Schema of view iv_overlap_relief_sole_trader in XSD format
      properties:
        denodo:
          description: "Denodo namespace: http://www.denodo.com/restful"
          type: string
          xml:
            attribute: true
        atom:
          description: "Atom namespace: http://www.w3.org/2005/Atom"
          type: string
          xml:
            attribute: true
        attributeFormDefault:
          description: "The form for attributes declared in the target namespace of\
            \ this schema: unqualified"
          type: string
          xml:
            attribute: true
        elementFormDefault:
          description: "The form for elements declared in the target namespace of\
            \ this schema: qualified"
          type: string
          xml:
            attribute: true
        targetNamespace:
          description: "Namespace defined by this XSD: http://www.denodo.com/restful/basis_period_reform/views/iv_overlap_relief_sole_trader"
          type: string
          xml:
            attribute: true
        import:
          description: Import for schema atom.xsd
          type: object
          properties:
            schemaLocation:
              description: "Schema's location: atom.xsd"
              type: string
              xml:
                attribute: true
            namespace:
              description: "Schema's target namespace: http://www.w3.org/2005/Atom"
              type: string
              xml:
                attribute: true
        element:
          type: object
          properties:
            name:
              description: "Names of the view: iv_overlap_relief_sole_trader"
              type: string
              xml:
                attribute: true
            complexType:
              type: object
              properties:
                sequence:
                  type: object
                  properties:
                    utr:
                      type: object
                      properties:
                        name:
                          type: string
                          xml:
                            attribute: true
                        type:
                          description: "Virtual DataPort type: long"
                          type: string
                          xml:
                            attribute: true
                        nillable:
                          type: boolean
                          xml:
                            attribute: true
                      xml:
                        name: element
                    element:
                      type: object
                      properties:
                        maxOccurs:
                          type: string
                          xml:
                            attribute: true
                        xmlns:q1:
                          description: http://www.w3.org/2005/Atom
                          type: string
                          xml:
                            attribute: true
                        ref:
                          description: q1:link
                          type: string
                          xml:
                            attribute: true
      xml:
        name: schema
        namespace: http://www.w3.org/2001/XMLSchema
    iv_overlap_relief_sole_trader_response_def:
      properties:
        name:
          description: Virtual DataPort view name
          type: string
          xml:
            attribute: true
        description:
          description: Virtual DataPort view description
          type: string
          xml:
            attribute: true
        elements:
          description: Results returned by the query
          type: array
          items:
            $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_def'
        links:
          description: Links available for the current element (e.g. pagination links)
          type: array
          items:
            $ref: '#/components/schemas/links_def'
        __errors__:
          type: array
          items:
            $ref: '#/components/schemas/errors_def'
          xml:
            name: __errors__
            wrapped: true
        __info__:
          type: array
          items:
            $ref: '#/components/schemas/info_def'
          xml:
            name: __info__
            wrapped: true
      xml:
        name: view
        namespace: http://www.denodo.com/restful
    iv_overlap_relief_sole_trader_schema_def:
      properties:
        name:
          description: Virtual DataPort view name
          type: string
        properties:
          $ref: '#/components/schemas/iv_overlap_relief_sole_trader_element_simplified_def'
    iv_overlap_relief_sole_trader_metadata_def:
      properties:
        name:
          description: Virtual DataPort database name
          type: string
          xml:
            attribute: true
        description:
          description: Virtual DataPort database description
          type: string
          xml:
            attribute: true
        views-metadata:
          maxItems: 1
          minItems: 1
          type: array
          items:
            required:
              - links
              - name
            type: object
            properties:
              name:
                description: Virtual DataPort view name
                type: string
                xml:
                  attribute: true
              links:
                type: array
                items:
                  $ref: '#/components/schemas/links_def'
            xml:
              name: view-metadata
      xml:
        name: db
        namespace: http://www.denodo.com/restful
    HIP-originEnum:
      enum:
        - HIP
        - HoD
      type: string
    HIP-failureResponse:
      required:
        - failures
      type: object
      properties:
        failures:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - type
              - reason
            type: object
            properties:
              type:
                type: string
              reason:
                type: string
            additionalProperties: false
    HIP-originResponse:
      required:
        - origin
        - response
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/HIP-originEnum'
        response:
          $ref: '#/components/schemas/HIP-failureResponse'
      additionalProperties: false
  parameters:
    format_parameter:
      name: $format
      in: query
      description: Defines the output format of the query
      schema:
        default: JSON
        enum:
          - JSON
          - XML
        type: string
    filter_parameter:
      name: $filter
      in: query
      description: Filters the rows of a view using any condition. Any expression
        that can appear in the WHERE clause of a VQL query can be used.
      schema:
        type: string
    select_parameter:
      name: $select
      in: query
      description: Comma-separated list of fields to be returned in the result
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    group_by_parameter:
      name: $groupby
      in: query
      description: Comma-separated list of fields to group by with
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    having_parameter:
      name: $having
      in: query
      description: Comma-separated list of fields to add to the HAVING clause of the
        query
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    order_by_parameter:
      name: $orderby
      in: query
      description: "Sorts the results by one or more fields. It is a comma-separated\
        \ list of fields, each one followed by the modifier ASC (for ascending order)\
        \ and DESC (for descending order)."
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    expand_parameter:
      name: $expand
      in: query
      description: Roles to expand in the query
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    start_index_parameter:
      name: $start_index
      in: query
      description: Used for pagination in view resources
      schema:
        format: int32
        minimum: 0
        type: integer
    count_parameter:
      name: $count
      in: query
      description: Used for pagination in view resources
      schema:
        format: int32
        minimum: 0
        type: integer
    jsoncallback_parameter:
      name: $jsoncallback
      in: query
      description: "The JSON representation can return the data of a view prefixed\
        \ with the name of a function. This is called JSON with padding or JSONP.\
        \ That way, when a browser receives the response, it receives a script rather\
        \ than data."
      schema:
        type: string
    display_restful_references_parameter:
      name: $displayRESTfulReferences
      in: query
      description: "By default, the result of requesting a view contains, in each\
        \ row, a link to the row itself and, for each association of the view, a link\
        \ to traverse the association. By using this parameter, you can configure\
        \ this behavior."
      schema:
        default: true
        type: boolean
    noescape_html_parameter:
      name: $noescapehtml
      in: query
      description: List of comma-separated fields whose values will not be HTML escaped.
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    user_agent_header_parameter:
      name: User-agent
      in: header
      description: "By including this header, communication between the web service\
        \ and the Virtual DataPort will be configured with this value."
      schema:
        type: string
    infrastructure_provider_header_parameter:
      name: Infrastructure-provider
      in: header
      description: "By including this header, the hosting type of the client can be\
        \ specified."
      schema:
        type: string
    infrastructure_region_header_parameter:
      name: Infrastructure-region
      in: header
      description: "By including this header, the region of the client can be specified."
      schema:
        type: string
  securitySchemes:
    Basic:
      type: http
      description: HTTP basic
      name: Basic
      scheme: basic
    oAuth2:
      type: oauth2
      description: OAuth2 Client Credentials Flow
      flows:
        clientCredentials:
          tokenUrl: /tokenUrl/not-required
          scopes:
            read:BPR-sole-trader: Returns data for sole trader